<div class="row project_sort_bar sub_header">
  <p class="sub_header_text">
    <ol class="breadcrumb">
      <li ng-repeat="bread in breadcrumbs">
        <a ui-sref="{{bread.state}}">{{bread.text}}</a>
      </li>
    </ol>
  </p>
  <hr>
  <div class="">
    <div class="col-md-3 sub_sub_header">
        <p class="sub_header_subtext">You have
          <span class="subtext_accent">{{numprojects}}</span>
        projects</p>
    </div>
    <div class="col-md-3 sub_sub_header">
      <p class="sub_header_subtext">
        <span class="subtext_accent">{{numpics}} </span>
      total pictures</p>
    </div>
  </div>
</div>
