<subnav breadcrumbs="projectCtrl.breadcrumbs" num="projectCtrl.projects.length"></subnav>

<div class="container-fluid main_content_div">
  <div class="row">
    <div class="col-md-12 project_sort_bar">
      <div class="col-md-3">
        <h5 class="project_bar">Name</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar">Status</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar">Team</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar"># Pictures  </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 project" ng-repeat="project in projectCtrl.projects">
      <div class="col-md-3">
        <a href="/#/projects/{{project.name}}">
          <h4 ng-click="projectCtrl.getProject(project.name)"><span class="label label-success">Success</span> {{project.name}}</h4>
        </a>
      </div>
      <div class="col-md-9">
        <a href="/#/projects/{{project.name}}">
          <img class="center-block" ng-src="http://res.cloudinary.com/apfranzen/image/upload/w_220,h_220,c_fill/{{project.pic_url}}.jpg" href="/#/projects/{{project.name}}">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <ul ng-repeat="project in projectCtrl.projects">
  <li>{{project.project}}</li>
</ul> -->
