<div class="container-fluid main_content_div">
  <div class="row">
    <div class="col-md-12 project_sort_bar">
      <div class="col-md-3">
        <h5 class="project_bar">Name</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar">Status</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar">Team</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar"># Pictures  </h5>
      </div>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>
