<subnav breadcrumbs="projectCtrl.breadcrumbs" numprojects="{{projectCtrl.projects.length}}" numpics="{{projectCtrl.allpics.length}}"></subnav>
<div class="container-fluid main_content_div">
  <div class="row">
    <div class="col-md-12 project_sort_bar">
      <div class="col-md-3">
        <a ng-click="projectCtrl.filter('name')"><h5 class="project_bar">Name <i ng-if="projectCtrl.filterValue == 'name'" class="fa fa-filter fa-5"></i></h5></a>
      </div>
      <div class="col-md-3">
        <a ng-click="projectCtrl.filter('state')"><h5 class="project_bar">Location
        <i ng-if="projectCtrl.filterValue == 'state'" class="fa fa-filter"></i></h5></a>
      </div>
      <div class="col-md-3">
        <a ng-click="projectCtrl.filter('status')"><h5 class="project_bar">Status
        <i ng-if="projectCtrl.filterValue == 'status'" class="fa fa-filter"></i></h5></a>
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" placeholder="Search" id="searchQuery" name="searchQuery" ng-model="searchQuery">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 project" ng-repeat="project in projectCtrl.projects | orderBy: projectCtrl.filterValue | filter: searchQuery">
      <div class="col-md-3">
        <a ui-sref="project({ project: projectCtrl.singleProject})">
          <h4 ng-click="projectCtrl.getProject(project.name)"><span class="label label-success">New</span> {{project.name}}</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a ui-sref="project({ project: projectCtrl.singleProject})">
          <h4 ng-click="projectCtrl.getProject(project.name)">{{project.city}}, {{project.state}}</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a ui-sref="project({ project: projectCtrl.singleProject})">
          <h4 ng-click="projectCtrl.getProject(project.status)">{{project.status}}</h4>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <ul ng-repeat="project in projectCtrl.projects">
  <li>{{project.project}}</li>
</ul> -->
