<div class="row project_sort_bar sub_header">
  <p class="sub_header_text">
    <ol class="breadcrumb">
      <li>
        <a ui-sref="projects">Projects</a>
      </li>
      <li>
        <a ui-sref="project">{{projectCtrl.singleProject}}</a>
      </li>
    </ol>
  </p>
  <hr>
  <div class="">
    <div class="col-md-3 sub_sub_header">
        <p class="sub_header_subtext">
          <span class="subtext_accent">{{projectCtrl.singleProjectPics.length}}</span>
        Pictures for {{projectCtrl.singleProject}}</p>
    </div>
    <div class="col-md-3 sub_sub_header">
      <p class="sub_header_subtext">
      Last Picture Posted on:
      <span class="subtext_accent">11/30/16</span>
    </p>
    </div>
  </div>
</div>

<div class="container-fluid main_content_div">
  <div class="row">
    <div class="col-md-12 project_sort_bar">
      <div class="col-md-3">
        <h5 class="project_bar">Room</h5>
      </div>
      <!-- <div class="col-md-3">
        <h5 class="project_bar">Status</h5>
      </div> -->
      <!-- <div class="col-md-3">
        <h5 class="project_bar">Team</h5>
      </div> -->
      <div class="col-md-3">
        <h5 class="project_bar"># Pictures  </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <a>
      <div class="col-md-12 project" ng-repeat="project in projectCtrl.singleProjectPics">
        <div class="col-md-3">
          <a ui-sref="room({ project: projectCtrl.singleProject, room: project.room })">
            <h4><span class="label label-success">New</span> {{project.room}}</h4>
          </a>
        </div>
        <div class="col-md-9">
          <a ui-sref="room({ project: projectCtrl.singleProject, room: project.room })">
            <img class="center-block" ng-src="http://res.cloudinary.com/apfranzen/image/upload/w_220,h_220,c_fill/{{project.pic_url}}.jpg">
          </a>
        </div>
      </div>
    </a>
  </div>
</div>
