<div class="row project_sort_bar sub_header">
  <p class="sub_header_text">
    <ol class="breadcrumb">
      <li>
        <a ui-sref="projects">Projects</a>
      </li>
      <li>
        <a ui-sref="project">{{projectCtrl.singleProject}}</a>
      </li>
    </ol>
  </p>
  <hr>
  <div class="">
    <div class="col-md-3 sub_sub_header">
        <p class="sub_header_subtext">
          <span class="subtext_accent">{{projectCtrl.singleProjectData.length}}</span>
        Rooms for {{projectCtrl.singleProject}}</p>
    </div>
    <div class="col-md-3 sub_sub_header">
      <p class="sub_header_subtext">
      Last Picture Posted on:
      <span class="subtext_accent">11/30/16</span>
    </p>
    </div>
  </div>
</div>

<div class="container-fluid main_content_div">
  <div class="row">
    <div class="col-md-12 project_sort_bar">
      <div class="col-md-4">
        <a ng-click="projectCtrl.filter('room')"><h5 class="project_bar">Room <i ng-if="projectCtrl.filterValue == 'room'" class="fa fa-filter fa-5"></i></h5></a>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="searchQuery.level">
          <option autofocus value="">Filter by Floor</option>
          <option ng-repeat="level in projectCtrl.singleProjectData" value="{{level.level}}">Floor {{level.level}}</option>
          <!-- <option>Floor 2</option> -->
        </select>
      </div>
      <div class="col-md-3">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" placeholder="Search" id="searchQuery" name="searchQuery" ng-model="searchQuery.room">
      </div>
    </div>
  </div>
  <!-- <div>
    <div ng-repeat="pic in projectCtrl.singleProjectPics | filter:searchQuery">
      {{pic | json}}
    </div>
  </div> -->
  <div class="row">
    <!-- div for each room -->
    <div class="col-md-12 project" ng-repeat="room in projectCtrl.singleProjectData | orderBy: projectCtrl.filterValue | filter:searchQuery">
      <div class="col-md-12">
        <a ui-sref="room({ project: projectCtrl.singleProject, room: room.room })">
          <h4><span class="label label-success">New</span> {{room.room}}</h4>
        </a>

        <!-- div for each picture -->
        <div class="row thumbnails">
          <div class="col-xs-6 col-md-2" ng-repeat="pic in room.pics">
            <a class="thumbnail" ui-sref="largePicture({ project: room.project, room: room.room, pic_url: pic.pic_url})">
              <img ng-src="http://res.cloudinary.com/apfranzen/image/upload/w_350,h_350,c_fill/{{pic.pic_url}}.jpg" alt="...">
            </a>
          </div>
        </div>
      <!-- end example code -->
      </div>
    </div>
      <!-- div for each picture in room -->
      <!-- <div class="col-md-12 project" ng-repeat="room in projectCtrl.singleProjectPics | orderBy: projectCtrl.filterValue | filter: searchQuery">
        <div class="col-md-3">
          <a ui-sref="room({ project: projectCtrl.singleProject, room: project.room })">
            <h4><span class="label label-success">New</span> {{room.room}}</h4>
          </a>
        </div>
        <div class="col-md-9">
          <a ui-sref="room({ project: projectCtrl.singleProject, room: room.room })">
            <img class="center-block" ng-src="http://res.cloudinary.com/apfranzen/image/upload/w_220,h_220,c_fill/{{room.pic_url}}.jpg">
          </a>
        </div>
      </div> -->

  </div>
</div>
