<div class="row project_sort_bar sub_header">
  <p class="sub_header_text">
    <ol class="breadcrumb">
      <li>
        <a ui-sref="projects">Projects</a>
      </li>
      <li>
        <a ui-sref="project({ project: roomCtrl.project })">{{roomCtrl.project}}</a>
      </li>
      <li>
        <a ui-sref="room({ project: roomCtrl.project, room:  roomCtrl.room })">{{roomCtrl.room}}</a>
      </li>
    </ol>
  </p>
  <hr>
  <div class="">
    <div class="col-md-3 sub_sub_header">
        <p class="sub_header_subtext">
          <span class="subtext_accent">{{roomCtrl.roomPics.length}}</span>
        Pictures for <span class="subtext_accent">{{roomCtrl.room}}</span></p>
    </div>
    <div class="col-md-3 sub_sub_header">
      <p class="sub_header_subtext">
      Last Picture Posted on:
      <span class="subtext_accent">11/30/16</span>
    </p>
    </div>
  </div>
</div>

<div class="container-fluid main_content_div">
  <!-- <div class="row">
    <div class="col-md-12 project_sort_bar">
      <div class="col-md-3">
        <h5 class="project_bar">Name</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar">Status</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar">Team</h5>
      </div>
      <div class="col-md-3">
        <h5 class="project_bar"># Pictures  </h5>
      </div>
    </div>
  </div> -->
  <div class="row thumbnails">
    <div class="col-xs-6 col-md-3" ng-repeat="project in roomCtrl.roomPics">
      <a class="thumbnail" ui-sref="largePicture({ project: roomCtrl.project, room: roomCtrl.room, pic_url: project.pic_url})">
        <img ng-src="http://res.cloudinary.com/apfranzen/image/upload/w_350,h_350,c_fill/{{project.pic_url}}.jpg" alt="...">
      </a>
    </div>
  </div>
</div>
